.note-search{
    margin: 20px auto;
    display: block;
    outline: none;
    padding: 5px 15px;
    border: 1px solid #ff000000;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;
}